@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background-color: #fbba00;
}

p {
  line-height: 1.5em;
}

em {
  text-decoration: underline;
  text-decoration-color: #e82f7d;
  font-style: normal;
}

.App {
  max-width: 640px;
}

.Cube {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #e82f7d;
}

.Cube.lt {
  top: 0;
  left: 0;
}

.Cube.lb {
  bottom: 0;
  left: 0;
}

.Cube.rt {
  top: 0;
  right: 0;
}

.Cube.rb {
  bottom: 0;
  right: 0;
}
