@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
    text-align: left;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: black;
    background-color: #fbba00;
    position: relative;
}

.container {
    transition: opacity 2s ease 1s;
}

.container.boxed {
    padding: 40px;
}

.container.slim {
    padding-top: 40px;
    padding-bottom: 40px;
}

a {
    color: #e82f7d;
    text-decoration-color: #e82f7d;
}

em {
    text-decoration: underline;
    text-decoration-color: #e82f7d;
    font-style: normal;
}

em.bg {
    background-color: #e82f7d;
    color: white;
    padding: 0 .25em;
}

.supTitle,
.mainTitle {
    text-align: center;
}

.mainText {
    text-align: left;
}

.footerText {
    text-align: center;
    font-size: .5em;
    padding-bottom: 0 !important;
}

.MuiInputBase-root {
    font-family: 'Titillium Web', sans-serif !important;
    font-size: calc(10px + 2vmin) !important;
}

.Flower {
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url('logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.Cube {
    position: absolute;
    width: 32px;
    padding: 4px;
    background-color: #e82f7d;
}

.Cube .MuiSvgIcon-root {
    color: #fbba00;
    cursor: pointer;
}

.Flower.lt {
    top: 0;
    left: 0;
    background-position: -40px -40px;
}

.Flower.lb {
    bottom: 0;
    left: 0;
    background-position: -40px 40px;
}

.Flower.rt {
    top: 0;
    right: 0;
    background-position: 40px -40px;
}

.Flower.rb {
    bottom: 0;
    right: 0;
    background-position: 40px 40px;
}

.Cube.rt {
    top: 0;
    right: 0;
}
    